@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono'); 
@import url('https://fonts.googleapis.com/css?family=Tangerine');
@import url('https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield');

body { 
  background-image: url('elements/images.jpg');
  background-size: cover;                      
  background-position: center;                 
  background-repeat: no-repeat;                
  height: 100vh;                              
  margin: 0;                                  
  font-family: 'Ubuntu';
  overflow: hidden;
} 

.dragon-gif {
  position: absolute; 
  right: 20px; 
  top: 20px; 
  width: 200px; 
  height: 500px; 
  z-index: 400; /* Ensure the GIF appears above other content */
}

.ads {
  position: absolute;
  bottom: 10px;       
  left: 40px;          
  width: 630px;       
  height: 50px;       
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.ads img {
  width: 200px;
  height: 65px;
  margin: 0;
  box-shadow: 0 0 10px 3px rgba(0, 255, 0, 0.8);
}

.flash-invert {
  animation: flashInvert 1s infinite; 
}

@keyframes flashInvert {
  0% {
    filter: invert(0%);
  }
  50% {
    filter: invert(80%);
  }
  100% {
    filter: invert(0%);
  }
}

.flag-banner {
  position: absolute; 
  top: 20px; 
  left: 0; 
  display: flex;
  justify-content: flex-start; /* align flags to the left */
  align-items: center; 
  margin: 0; 
  z-index: -1; 
  overflow: hidden
}

.flag-banner img {
  width: 50px; 
  height: auto; 
  margin: 0 5px; 
}

@keyframes scrollFlags {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-50%);
  }
}

.scroll-container {
  display: flex;
  white-space: nowrap;
  animation: scrollFlags 20s linear infinite; /* scroll the flags in a continuous loop */
}

.domain {
  position: absolute;
  top: 80px;
  left: 20px;
  height: 100vh;
  width: 30px;
  align-items: center;
  margin: 0;
  z-index: -1;
  overflow: hidden;
  justify-content: flex-start;
}

.domain-image {
  width: 100%; 
  height: auto; 
  animation: scrollDomain 10s linear infinite; /* anim setup */
}

@keyframes scrollDomain {
  0% {
    transform: translateY(-100%); 
  }
  100% {
    transform: translateY(50%); 
  }
}

#container {  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  height: 100vh;
} 
#terminal {  
  position: absolute;
  width: 90vw;  
  height: 80vh;  
  left: 100;
  top: 100;
  box-shadow: 2px 4px 10px rgba(0,0,0,0.5);
  z-index: 1;
} 
#terminalconsole {  
  position: absolute;
  width: 50vw;  
  height: 40vh;  
  left: 660px;
  top: 380px;
  box-shadow: 2px 4px 10px rgba(0,0,0,0.5);
  z-index:  2;
} 
#terminal__bar {  
  position: relative;
  display: flex;  
  width: 100%;  
  height: 30px;  
  align-items: center;  
  padding: 0 8px;  
  box-sizing: border-box;  
  border-top-left-radius: 5px;  
  border-top-right-radius: 5px;  
  background: linear-gradient(#504b45 0%,#3c3b37 100%);
} 
#terminal__bar-console {  
  position: relative;
  display: flex;  
  width: 100%;  
  height: 30px;  
  align-items: center;  
  padding: 0 8px;  
  box-sizing: border-box;  
  border-top-left-radius: 5px;  
  border-top-right-radius: 5px;  
  background: linear-gradient(#504b45 0%,#3c3b37 100%);
} 
#bar__buttons {  
  display: flex;  
  align-items: center;
} 
.bar__button {  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  padding: 0;  
  margin-right: 5px;  
  font-size: 8px;  
  height: 12px;  
  width: 12px;  
  box-sizing: border-box;  
  border: none;  
  border-radius: 100%;  
  background: linear-gradient(#7d7871 0%, #595953 100%);  
  text-shadow: 0px 1px 0px rgba(255,255,255,0.2);  
  box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
}
.bar__button:hover {  
  cursor: pointer;
}
.bar__button:focus {  
  outline: none;
}
#bar__button--exit {  
  background: linear-gradient(#f37458 0%, #de4c12 100%);    
  background-clip: padding-box;
} 
#bar__user {   
  color: #d5d0ce;  
  margin-left: 6px;  
  font-size: 14px;  
  line-height: 15px;
} 
#terminal__body {  
  background: rgba(228, 225, 228, 0.4); 
  display: flex;
  flex-direction: column; /* Ensure vertical layout */ 
  font-family: 'Ubuntu Mono';  
  height: calc(100% - 30px);  
  padding-top: 2px;  
  margin-top: -1px;
  overflow-y: auto;
} 
#terminal__prompt {  
  display: flex;
  align-items: flex-end;
  /*border: 1px solid #ccc;*/         
}
#terminal__prompt-console {  
  display: flex;
  align-items: flex-end;
  /*border: 1px solid #ccc; */         
}
#terminal__prompt--cursor {  
  display: inline-block;  
  height: 0.8em;  
  width: 8px;  
  margin-left: 0px;  
  overflow-y: hidden;
  animation: blink 1200ms linear infinite;
  vertical-align: baseline;
} 
@keyframes blink {  
  0% {    
    background: #ffffff;  
  }  
  49% {    
    background: #ffffff;  
  }  
  60% {    
    background: transparent;  
  }  
  99% {    
    background: transparent;  
  }  100% {    
    background: #ffffff;  
  }
} 
@media (max-width: 600px) {  
  #terminal {    
    max-height: 90%;    
    width: 90%;  
  }
}

#terminal__prompt--consolecursor {  
  display: inline-block;  
  height: 0.8em;  
  width: 8px;  
  margin-left: 0px;  
  overflow-y: hidden;
  animation: consoleblink 1200ms linear infinite;
  vertical-align: baseline;
} 
@keyframes consoleblink {  
  0% {    
    background: #003838;  
  }  
  49% {    
    background: #003838;  
  }  
  60% {    
    background: transparent;  
  }  
  99% {    
    background: transparent;  
  }  100% {    
    background: #003838;  
  }
} 
@media (max-width: 600px) {  
  #terminal {    
    max-height: 90%;    
    width: 90%;  
  }
}

#writing-message {
  display: inline-block;
  padding: 0;            
  margin: 0;  
  overflow-y: auto;         
  white-space: pre-wrap; 
  word-wrap: break-word; 
  overflow-wrap: break-word; 
}

#writing-message-console {
  display: inline-block;
  padding: 0;            
  margin: 0;  
  overflow-y: auto;         
  white-space: pre-wrap; 
  word-wrap: break-word; 
  overflow-wrap: break-word; 
}

#user-input {
  position: absolute;
  left: -9999px; 
}

#user-input-console {
  position: absolute;
  left: -9999px; 
}

#messages {
  list-style-type: none; 
  padding: 0;            
  margin: 0;         
  overflow-y: auto;         
  white-space: pre-wrap; 
  word-wrap: break-word; 
  overflow-wrap: break-word; 
}

#messages-console {
  list-style-type: none; 
  padding: 0;            
  margin: 0;         
  overflow-y: auto;         
  white-space: pre-wrap; 
  word-wrap: break-word; 
  overflow-wrap: break-word; 
}

/* Hide scrollbar for WebKit browsers */
#messages::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
}

#messages::-webkit-scrollbar:horizontal {
  height: 0; /* Remove scrollbar space */
}

#messages {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

/* Hide scrollbar for WebKit browsers */
#messages-console::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
}

#messages-console::-webkit-scrollbar:horizontal {
  height: 0; /* Remove scrollbar space */
}

#messages-console {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.link {
  color: #00aaff;
  text-decoration: underline;
}

/*printed*/

.prompt-user {
  color: #002323;
}

.prompt-admin {
  color: #003838; 
}

.prompt-hidden-user {
  color: #ff0000; 
}

.prompt-location {
  color: #063267; 
}

.prompt-bling {
  color: #030ad1; 
}

/* EVENTS */

#money {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000000;
  justify-content: center;
  align-items: center;
}

#money img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#jackpot-vid {
  display: none;
  position: fixed;
  width: 0%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000000000;
  overflow:hidden;
}